$primary-color: #474747;
$primary-font-color: #ffd500;
$secondary-color: lighten($primary-font-color, 45);
$show-home-image: true;
$header-photo: url("/dir/img/header-photo.jpg");

// Header image with filter
@mixin header-image {
  @if $show-home-image {
    .header-img {
      background-image: $header-photo;
      height: 30rem;
      width: 100%;
      background-attachment: fixed;
      background-size: cover;
      text-align: center;
      position: relative;
      margin-bottom: 7rem;
      border-bottom: 2px solid darken($secondary-color, 5);

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: rgba(#6d0073, 0.15);
      }
    }
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (min-width: 501px) and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
