@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #878787;
  font-family: "Roboto Condensed", sans-serif;
}

@include header-image();

.lg-heading {
  text-transform: uppercase;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  color: $primary-font-color;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  z-index: 1;
  line-height: 0.65;
}

.sm-heading {
  text-transform: uppercase;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  color: lighten($primary-font-color, 45);
  font-size: 2rem;
  letter-spacing: 1.4rem;
  z-index: 1;
  line-height: 0.8;
}
